*{
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(185, 209, 231);
}
.logo{
    height: 5rem;
    margin: 8px 30px;
}
.navbar h1{
    color:rgb(2, 39, 70);
    letter-spacing: 3.5px;
    font-family: 'Bubblegum Sans', cursive;
    font-weight: bolder;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bg{
    max-height: 780px;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 32px;
    padding:20px 88px;
    font-family: 'Geologica', sans-serif;
    opacity: 80%;
    text-align: center;
}
.item{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0px;
}
.item p{
    padding: 8px;
    font-weight: 500;
}
.item input{
    height:45px;
    width:100%;
    padding: 0 1rem;
    border-radius: 25px;
    color:rgb(70, 68, 68);
    border-color: rgb(124, 122, 122);
    vertical-align: middle;
    font-size: 20px;
}
.item input:focus{
    border: 3px solid black;
}
.start{
    text-decoration: none;
    font-size: xx-large;
    font-weight:bold;
    font-family: 'Mukta', sans-serif;
    color: white;
    height: 60px;
    padding: 0px 30px;
    background-color: rgb(7, 105, 185);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
@media only screen and (min-width:601px) and (max-width:1250px){
    .main{
       flex-direction: column;
    }
    .start{
       margin-bottom: 8rem;
    }
    .logo{
       height:3rem;
    }
}
@media only screen and (max-width:600px){
    .main{
        flex-direction: column;
    }
    .navbar{
        width:100%;
    }
    .text{
        font-size: 20px;
    }
    .logo{
        height:3rem;
     }
}